<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/login.css" type="text/css"/>
  <link rel="stylesheet" href="/css/signUp.css" type="text/css"/>
  <title>북적북적 :: book을 jeok는 공간</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <div class="myform form">
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1 class="title">Sign Up</h1>
          </div>
        </div>

        <form th:action="@{/sign-up}" method="post" th:object="${userAccountDto}" class="form-horizontal" onsubmit="return register()">

          <div class="form-group">
            <label th:for="name" class="cols-sm-2 control-label">Your Name</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Enter your Name"/>
              </div>
              <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
            </div>
          </div>

          <div class="form-group">
            <label th:for="email" class="cols-sm-2 control-label">Your Email</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" th:field="*{email}" class="form-control" placeholder="Enter your Email"/>
                <input id="email-button" type="button" onclick="duplicateCheck(this);" data-check="false" value="중복확인" class="btn btn-primary btn-check">
              </div>
              <p id="email-field" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>
            </div>
          </div>

          <div class="form-group">
            <label th:for="nickname" class="cols-sm-2 control-label">User NickName</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" th:field="*{nickname}" class="form-control"  placeholder="Enter your Username"/>
                <input id="nickname-button" type="button" onclick="duplicateCheck(this);" data-check="false" value="중복확인" class="btn btn-primary btn-check">
              </div>
              <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="fieldError"></p>
            </div>
          </div>

          <div class="form-group">
            <label th:for="userPassword" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" th:field="*{userPassword}" class="form-control"  placeholder="Enter your Password"/>
              </div>
              <p th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}" class="fieldError"></p>
            </div>
          </div>

          <div class="form-group">
            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" id="confirm" data-check="false" placeholder="Confirm your Password"/>
              </div>
              <p id="confirm-error" class="fieldError"></p>
            </div>
          </div>

          <div class="fcol-md-12 text-center ">
            <button type="submit" class="btn btn-block mybtn btn-primary tx-tfm" >Register</button>
          </div>

          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
          </div>
          <div class="login-register">
            <a href="#">Login</a>
            <a href="/">home</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  const token = $("meta[name='_csrf']").attr("content")
  const header = $("meta[name='_csrf_header']").attr("content");

  // ----비밀번호 입력 확인----
  $("#confirm").keyup(function() {
    let passwordVal = $("#userPassword").val();
    let confirmVal = $("#confirm").val();

    validatePassword(passwordVal, confirmVal);
  });

  $("#userPassword").change(function() {
    let passwordVal = $("#userPassword").val();
    let confirmVal = $("#confirm").val();

    validatePassword(passwordVal, confirmVal);
  });

  function validatePassword(password1, password2){
    if(password1 != password2) {
      $("#confirm-error").text("비밀번호가 동일하지 않습니다.");
      $("#confirm-error").attr("data-check", "false")
    }
    else {
      $("#confirm-error").text('');
      $("#confirm-error").attr("data-check", "true")
    }
  }
  // ----등록 전 중복검사 + 비밀번호 일치 확인----
  function register() {
    if ($("#email-button").attr("data-check") === "false") {
      alert("이메일 중복체크가 완료되지 않았습니다.");
      return false;
    }
    if ($("#nickname-button").attr("data-check") === "false") {
      alert("닉네임 중복체크가 완료되지 않았습니다.");
      return false;
    }
    if ($("#confirm-error").attr("data-check") === "false") {
      alert("비밀번호를 확인해주세요.");
      return false;
    }
  }

  // ----중복확인 후 데이터 변경관리----
  $("#email").change(function() {
    $("#email-button").attr("data-check", "false");
  });
  $("#nickname").change(function() {
    $("#nickname-button").attr("data-check", "false");
  });

  // ----중복확인 이벤트처리 ajax ----
  function duplicateCheck(args) {
    let id = $(args).attr("id");
    let data;
    if (id === "email-button" ) {
      data = { "email" : $("#email").val() };
    } else if (id === "nickname-button" ) {
      data = { "nickname" : $("#nickname").val() };
    }

    $.ajax({
      type : "POST"
      ,url : "/sign-up/check"
      ,data : JSON.stringify(data)
      ,dataType : 'text' // ajax result datatype
      ,contentType : "application/json; charset=utf-8" // ajax request type
      ,beforeSend : function(xhr) { //spring security post + ajax 사용시 반드시 필요한 작업
        xhr.setRequestHeader(header, token);
      }
      , error : function(error) {
        console.log(error)
      }
    }).done(function(result) {

      if (result === "1") {
        $("#email").val("");
        $("#email-button").attr("data-check", "false");
        alert("이미 사용중인 이메일 입니다.");

      } else if (result === "2") {
        $("#email-button").attr("data-check", "true");
        alert("사용 가능한 이메일 입니다.");

      } else if (result === "3") {
        $("#nickname").val("");
        $("#nickname-button").attr("data-check", "false");
        alert("이미 사용중인 닉네임 입니다.");

      } else if (result === "4") {
        $("#nickname-button").attr("data-check", "true");
        alert("사용 가능한 닉네임 입니다.");
      }
    });
  }
</script>
</body>
</html>